name: Make download count badges from App Store

on:
  schedule:
    - cron: '0 3 4 * *' # Run at 3:00 AM on the 4th of every month
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Create config.yml
      env:
        CONFIG_YML: ${{ secrets.CONFIG_YML }}
      run: echo "$CONFIG_YML" > config.yml
    
    - name: Create private key
      env:
        PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      run: echo "$PRIVATE_KEY" > private.p8

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Generate badges
      run: |
        app-store-download-count-badge-maker generate
        ls dist/

    - name: Create index.html
      run: app-store-download-count-badge-maker make-index

    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v4
      with:
        path: './dist'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
